.stater_plan__container p {
    margin: 0;
    padding: 0;
}

.stater_plan__container .stater_plan__top {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.stater_plan__container .stater_plan__top h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Playfair Display";
    color: var(--e-global-color-primary);
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px){
    .stater_plan__container .stater_plan__top h2 {
    font-size: 25px;
}
}

.stater_plan__container .stater_plan__top p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat';
    color: #737373;
    margin: 0;
}
@media only screen and (min-width:768px){
    .stater_plan__container .stater_plan__top p {
    font-size: 16px;
}
}

.stater_plan__container .stater_plan__body {
    margin-top: 15px;

}

.stater_plan__container .stater_plan__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stater_plan__container .stater_plan__body .stater_plan__stain-level {
    border-radius: 0.5rem;
    padding: 1rem;
}

.stater_plan__container .stater_plan__body .stater_plan__stain-level:nth-child(odd) {
    border: 1px solid #a7f3d0;
    background-color: #ecfdf5;
}

.stater_plan__container .stater_plan__body .stater_plan__stain-level:nth-child(even) {
     background-color: rgb(255 251 235);
    border: 1px solid rgb(253 230 138);;
}

.stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_title .level {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.10rem 0.600rem;
    border-radius: 9999px;
}
.stater_plan__container .stater_plan__body .stater_plan__stain-level:nth-child(odd) .stater_plan__body_title .level{
    --tw-bg-opacity: 1;
    background-color: rgb(209 250 229 / var(--tw-bg-opacity, 1));
    color: #047857;
}

.stater_plan__container .stater_plan__body .stater_plan__stain-level:nth-child(even) .stater_plan__body_title .level{
    --tw-bg-opacity: 1;
    background-color: rgb(254 243 199 / var(--tw-bg-opacity, 1));
    border: 1px solid #fde68a;
    color: #B45309;
}

.stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_title .level_subtitle {
     font-family: 'Montserrat', sans-serif; 
    font-size: 0.900rem;
    font-weight: 600;
    color: var(--e-global-color-primary);
}

.stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_items{
    margin-top: 12px;
}
.stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_items ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}
.stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_items ul li{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.820rem;
    color: #404040;
    display: flex;
    align-items: center;
    gap: 8px;
}
@media only screen and (min-width:768px){
    .stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_items ul li{
    font-size: 0.890rem;
}
}
.stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_items p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.830rem;
    color: #6B7280;
    font-style: italic;
    margin-top: 10px;
    padding: 0;
}
@media only screen and (min-width:768px){
    .stater_plan__container .stater_plan__body .stater_plan__stain-level .stater_plan__body_items p{
    font-size: 0.90rem;
  
}
}


.stater_plan__container .stater_plan__footer p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    line-height: 1.1rem;
    color: #6B7280;
    font-style: italic;
    border-top: 1px solid #F3F4F6;
    padding-top: 0.60rem;
    margin-top: 1rem;
}

@media only screen and (min-width:768px){
.stater_plan__container .stater_plan__footer p{
    font-size: 0.90rem;
   
}
}
/* most_popular */

/* best_value */